@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-bg);
}
:root {
  --main-bg: #2C3333;
  --font: #fff;
  --title: #3C413F;
  --btn: #1DA756;
  --carousel-bg: #232826;
  --hover: #198647;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: var(--main-bg);
  
}
.navbar img {
  cursor: pointer;
  width: 150px;
  height: 35px;
}
.nav-list {
  display: flex;
  gap: 2rem;
}
.nav-list li {
  list-style: none;
}
.nav-list li a{
  color: var(--font);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.nav-list li a:hover {
  color: var(--btn);
  transition: color 0.3s ease-in-out;
}
/** Home Page **/
.front-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: calc(100vh - 1px);
  gap: 1.5rem;
  width: 100%;
  padding: 0 5%;
}
.front-page > img {
  max-width: 450px;
}
.details h1 {
  color: var(--font);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Seymour One', sans-serif;
}
.details span {
  color: var(--btn);
}
.details p {
  font-size: 23px;
  color: var(--font);
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.btn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.btn > button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 130px;
  height: 40px;
  border-radius: 0.4rem;
  background-color: var(--btn);
  border: none;
  cursor: pointer;
}
.btn > button:hover {
  color: black;
  background-color: var(--hover);
  transition: all 0.4s ease-in-out;
}
.btn > a {
  color: var(--font);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
.btn > a:hover {
  color: var(--btn);
  transition: color 0.3s ease-in-out;
}
/** Home Page end **/

/** About Page **/
.about-page {
  width: 100%;
  height: calc(80vh - 1px);
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info span {
  color: var(--btn);
}
.info h1, h2, h3, p {
  color: var(--font);
}
.info > h1 {
  margin-bottom: 2rem;
  font-size: 35px;
  letter-spacing: 0.1em;
}
.info > p {
  font-size: 20px;
  margin-bottom: 4rem;
}
.info > h2 {
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}
.offer {
  display: flex;
  padding: 0 5%;
  gap: 2rem;
}
.offer h3 {
  margin-bottom: 0.8rem;
}
.first-offer h3, .second-offer h3, .third-offer h3 {
  letter-spacing: 0.1em;
}
.first-offer,
.second-offer,
.third-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  max-width: 350px;
  min-height: 180px;
  background-color: var(--carousel-bg);
  border-radius: 0.625rem;
  cursor: pointer;
  background: #3C413F;
  box-shadow:  12px 12px 3px #333836,
  -12px -12px 3px #434846;
}
/** Hover effects **/
.first-offer:hover {
  background-color: var(--hover);
  transition: all 0.2s ease-in-out;
}
.second-offer:hover {
  background-color: var(--hover);
  transition: all 0.2s ease-in-out;
}
.third-offer:hover {
  background-color: var(--hover);
  transition: all 0.2s ease-in-out;
}
/* end */
/** About Page end **/

/** Product Page **/
.product-page {
  width: 100%;
  height: calc(80vh - 1px);
}
.product-intro {
  text-align: center;
  color: var(--font);
}
.product-intro > h1 {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 3;
}
.product-intro > h1 span {
  color: var(--btn);
}
.product-intro > p {
  font-size: 1.3rem;
  line-height: 4;
}
.product-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.series {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  cursor: pointer;
}
.series > h2 span {
  line-height: 2;
  color: var(--btn);
}
.gpu > img {
  max-width: 400px;
  border-radius: 0.625rem 0.625rem 0 0;
}
.gpu {
  background-color: var(--title);
  width: 400px;
  border-radius: 0.620rem 0.620rem 0.625rem 0.625rem;
}
.gpu > p {
  padding: 3%;
  text-align: justify;
}
/** Product Page end **/